<div class="masthead clearfix">
  <div class="inner">
    <% company_name= "Prototype Project" %>
    <h3 class="masthead-brand"><%= company_name %></h3>
    <nav>
      <ul class="nav masthead-nav">
        <li> <%= link_to t('navigation.root'), root_path %> </li>
        <li> <%= link_to "Form", new_form_path %> </li>
        <li> <%= link_to "Login", root_path %> </li>
        <li> <%= link_to "Signup", new_user_path %></li>
      </ul>
    </nav>
  </div>
</div>
