<div class="container">
  <%= form_for(form) do |f| %>
    <% if form.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(form.errors.count, "error") %> prohibited this form from being saved:</h2>

        <ul>
        <% form.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :department, class: 'pull-left' %>
      <%= f.text_field :department, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :catogery, class: 'pull-left' %>
      <%= f.text_field :catogery, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :date_started, class: 'pull-left' %>
      <%= f.text_field :date_started, class: 'datepicker form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :date_completed, class: 'pull-left' %>
      <%= f.text_field :date_completed, class: 'datepicker form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :summary, class: 'pull-left' %>
      <%= f.text_area :summary, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit class: 'btn btn-primary pull-left'%>
    </div>
  <% end %>
</div>